.cell {
    width: 100px;
    height: 100px;
    border-left: 1px solid #BDC2C9;
    border-top: 1px solid #BDC2C9;
    float: left;
    background-color: #FFFFFF;
}

.row {
    clear: both;
}

.symbol_0 {
    background-color: #2B2B2B;
}
.symbol_1 {
    background-color: #248ADA; /* blue */
}
.symbol_2 {
    background-color: #C54038; /* red */
}
.symbol_3 {
    background-color: #40B04D; /* green */
}
.symbol_4 {
    background-color: #F7DE28; /* yellow */
}
.symbol_5 {
    background-color: #B4B0B0; /* grey */
}
.symbol_6 {
    background-color: #E377DE; /* fuschia */
}
.symbol_7 {
    background-color: #F97E1E; /* orange */
}
.symbol_8 {
    background-color: #35C9AC; /* teal */
}
.symbol_9 {
    background-color: #613D16; /* brown */
}


/*Symbol picker*/

.symbol_preview {
    width: 20px;
    height: 20px;
    float: left;
}

.grid_size_field {
    width: 50px;
}

.selected-symbol-preview {
    border: 2px solid black;
}


/*Selectable*/

.ui-selected {
    background-image: url(../img/black-twill.png), url(../img/brushed-alum.png);
}
.ui-selectable-helper {
    border: 1px dotted #ddd;
    position: absolute;
    z-index: 1000;
}

/*Message display*/

#error_display {
    color: red;
    width: 100%;
    float: center;
    font-size: 18px;
}

#info_display {
    color: green;
    width: 100%;
    float: center;
    font-size: 18px;
}

