.cell {
    width: 100px;
    height: 100px;
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    float: left;
    background-color: #000;
}

.row {
    clear: both;
}

.symbol_0 {
    background-color: #000;
}
.symbol_1 {
    background-color: #0074D9; /* blue */
}
.symbol_2 {
    background-color: #FF4136; /* red */
}
.symbol_3 {
    background-color: #2ECC40; /* green */
}
.symbol_4 {
    background-color: #FFDC00; /* yellow */
}
.symbol_5 {
    background-color: #AAAAAA; /* grey */
}
.symbol_6 {
    background-color: #F012BE; /* fuschia */
}
.symbol_7 {
    background-color: #FF851B; /* orange */
}
.symbol_8 {
    background-color: #7FDBFF; /* teal */
}
.symbol_9 {
    background-color: #870C25; /* brown */
}


/*Symbol picker*/

.symbol_preview {
    width: 20px;
    height: 20px;
    float: left;
}

.grid_size_field {
    width: 50px;
}

.selected-symbol-preview {
    border: 2px solid orange;
}


/*Selectable*/

.ui-selected {
    background-image: url(../img/black-twill.png), url(../img/brushed-alum.png);
}
.ui-selectable-helper {
    border: 1px dotted #ddd;
    position: absolute;
    z-index: 1000;
}

/*Message display*/

#error_display {
    color: red;
    width: 100%;
    float: center;
    font-size: 18px;
}

#info_display {
    color: green;
    width: 100%;
    float: center;
    font-size: 18px;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px auto;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 12px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 10px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 60%;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}